html { background: linear-gradient(179.4deg, rgb(253, 240, 233) 2.2%, rgb(255, 194, 203) 96.2%); height: 100%; }
body { min-height: 100%; display: flex; justify-content: space-between; }

/* .left-upper {
    margin: 0 170vh 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.left-top{
    margin: 0 170vh 0 0;
    padding: 0;
    width: 100%;
    height: 100%;
} */


@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  $col-bg: #FFC568;
  $col-lttr: #763C8C;
  $col-line: #FFFFFF;
  $to-mobile: 520px;
  
  *, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    min-height: 100vh;
    @include flex-center();
    
    font-size: 62.5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    @media screen and (max-width: $to-mobile) {
      /* don't know how to set default units to rem in mojs :(( */
    }
  }
  
  .container {
    width: 50rem;
    height: 20rem;
    position: relative;
  }
  
  .svg-container {
    z-index: 2;
    position: absolute;
  }
  
  .mo-container {
    width: 100%;
    height: 100%;
  }
  
  
  .line {
    fill: none;
    stroke: $col-line;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }
  
  .lttr {
    fill: $col-lttr;
  }
  
  .sound {
    position: fixed;
    color: $col-lttr;
    font-size: 1.6rem;
    bottom: 1rem;
    right: 1rem;
    text-decoration: underline;
    cursor: default;
    &--off {
      text-decoration: line-through;
    }
  }

.center{
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-top{
  margin: 0;
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.hidden{
  display:none

}

.visible{
  display:block;
}

.center-down{
  position: absolute;
  display: flex;
  align-items: flex-end;
  left: 50%;
  top: 90%;
}
.buttonHolder{
  margin:80px auto;
  width:400px;
}


		.button{
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 70px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 70px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}

		.button:after{
			color:#e9e6e4;
			content: "";
			display: block;
			font-size: 30px;
			height: 30px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 30px;
		}


		.heart:after{
			content: "\01F496";
			left: 16px;
			top: 16px;
		}

		.button:hover{
			background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;
		}

		.heart:hover:after{
			color:#f94e66;
			text-shadow:0px 0px 6px #f94e66;
		}


		

		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}

    h1 {
      font-family: gibson, Avenir Next, sans-serif;
      font-weight: 90;
      font-size: 2vh;
      letter-spacing: 2px;
      word-spacing: 3px;
      line-height: 1;
      text-transform: uppercase;
      max-width: 800px;
      margin: 0 auto;
      text-align: center;
    }

    .cover {
      width: 100%;
      height: 100vh;
      display: flex;
      /*background-image: url('http://img11.hostingpics.net/pics/868549cover.jpg');
      background-position:center center;
      background-repeat:no-repeat;*/
    }
    
    .caption {
      text-align: center;
      margin: auto;
    }
    
    h1 {
      display: inline-block;
      font-size: 2rem;
      line-height: 3rem;
      overflow: hidden;
      height: 3rem;
      color: #000000;
      position:relative;
    }
    
    h1::after {
      display: block;
      background-color: #fff;
      border-radius: 3px;
      display: block;
      margin: 0 auto 0 auto;
      width: auto;
      height: 1.5em;
      content: " ";
      animation: highlight 1s 1 cubic-bezier(1, 0, 0, 0.99) forwards;
      opacity: 0;
      z-index: -1;
      position: relative;
      top: -3rem;
    }
    
    @keyframes highlight {
      from {
        opacity: 0;
        transform: translateX(-30rem);
      }
      to {
        opacity: 1;
      }
    }
    
    .appearing-text {
      padding: 0 0.5rem;
      animation: fadein 1s linear forwards;
      opacity: 0;
    }
    
    @keyframes fadein {
      to {
        opacity: 1;
      }
    }
    
    h1{
      animation-delay:0;
    }
    
    .appearing-text {
      animation-delay: 1s;
    }
    
    h1.delayed-animation::after {
      animation-delay: 0.6s;
    }
    
    h1.delayed-animation .appearing-text {
      animation-delay: 3s;
    }

    .appearing-heart {
      animation: fadein 1s linear forwards;
      opacity: 0;
    }

    div.appearing-heart{
      animation-delay: 2s;
    }
.zero{
  opacity: 0;
}


* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.outer_wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100%;
  top: 0;
}

.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgb(8, 8, 8);
}

.cat {
  position: absolute;
  bottom: 65px;
  left: 100px;
  height: 30px;
  width: 60px;
  transition: 1.5s;
  transform-origin: center;
  background-color: transparent;
}

/* body */

.body {
  position: absolute;
  height: 30px;
  width: 60px;
}

.face_left .body { 
  animation: turn_body_left forwards 0.5s;
}

@keyframes turn_body_left {
  0%,100% { transform: scale(1); }
  50% { transform: scale(0.5, 1); }
}

.face_right .body {
  animation: turn_body_right forwards 0.5s;
}

@keyframes turn_body_right {
  0%,100% { transform: scale(1); }
  50% { transform: scale(0.5, 1); }
}

/* head */
.cat_head {
  position: absolute;
  height: 40px;
  width: 48px;
  right: -10px;
  top: -30px;
  transition: 0.5s;
  z-index: 50;
}

.first_pose .cat_head,
.face_left .cat_head{ 
  right: 22px;
}


/* tail */
.tail {
  position: absolute;
  top: -25px;
  height: 36px;
  width: 15px;
  animation: tail_motion forwards 2s;
  transform-origin: bottom right;
}

@keyframes tail_motion {
  0%,100% { 
    left: -5px;
    transform: rotate(0deg) scale(1); 
  }
  50% { 
    left: -10px;
    transform: rotate(-50deg) scale(-1,1); 
  }
}

.first_pose .tail ,
.face_left .tail {
  left: 45px;
  animation: tail_motion_alt forwards 2s;
}

@keyframes tail_motion_alt {
  0%,100% { 
    left: 45px;
    transform: rotate(0deg) scale(1); 
  }
  50% { 
    left: 40px;
    transform: rotate(50deg) scale(-1,1); 
  }
}



/* legs */
.leg {
  position: absolute;
  height: 20px;
  width: 10px;
  transform-origin: top center;
}

.front_legs,
.back_legs {
  position: absolute;
  height: 30px;
  transition: 0.7s;
}

.front_legs {
  width: 30px;
  right: 0;
}

.back_legs {
  width: 25px;
  left: 0; 
}

.face_left .leg svg {
  transform: scale(-1,1);
}

.face_right .front_legs{ right: 0; }

.first_pose .front_legs,
.face_left .front_legs{ right: 30px; }

.face_right .back_legs{ left: 0; }

.first_pose .back_legs,
.face_left .back_legs{ left: 35px; }

.one,
.three  {
  bottom: -15px;
  right: 0;
}

.two, 
.four {
  bottom: -15px;
  left: 0px;
}

.one.walk, 
.three.walk {
  animation: infinite 0.3s walk;
}

.two.walk, 
.four.walk {
  animation: infinite 0.3s walk_alt;
}

@keyframes walk {
  0%,100% {transform: rotate(-10deg);}
  50% {transform: rotate(10deg);}
}

@keyframes walk_alt {
  0%,100% {transform: rotate(10deg);}
  50% {transform: rotate(-10deg);}
}


/* jump */
.cat_wrapper {
  position: absolute;
  bottom: 0;
}

.cat_wrapper.jump .one { 
  animation: infinite 0.3s walk;
}

.cat_wrapper.jump .two { 
  animation: infinite 0.3s walk_alt;
}

.cat_wrapper.jump .three,
.cat_wrapper.jump .four {
  animation: none;
}

.cat_wrapper.jump .cat.face_right .back_legs {
  transform-origin: center;
  transform: rotate(50deg);
}

.cat_wrapper.jump .cat.face_left .back_legs {
  transform-origin: center;
  transform: rotate(-50deg);
}

.cat_wrapper.jump .cat.face_right .front_legs {
  transform-origin: center;
  transform: rotate(-60deg);
}

.cat_wrapper.jump .cat.face_left .front_legs {
  transform-origin: center;
  transform: rotate(60deg);
}

.cat_wrapper.jump{
  animation: jump forwards 1s;
}

@keyframes jump {
  0%, 100%  {bottom: 0px;}
  50% {bottom: 200px;}
}

.jump .face_left{ 
  animation: forwards 0.5s body_stand_left;
  transform-origin: right bottom;
}

.jump .face_right{ 
  animation: forwards 0.5s body_stand_right;
  transform-origin: left bottom;
}

@keyframes body_stand_right {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-45deg);}
}

@keyframes body_stand_left {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(45deg);}
}

svg {
  height: 100%;
  width: 100%;
}

polygon.eyes {
  fill: rgb(1, 143, 96);
}

polygon,
path {
  fill: white;
}

.sign {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}